.iimg{
    /* width: 10em !important; */
    height: 15em !important;
}
.producto{
    text-align: center;
}
.icono{
    max-width: 100em !important;
    color: rgb(25, 0, 255);
}
.carta{

     /* background-color: rgba(255, 255, 255, 0) !important; */
     margin: 5em !important;
     height: 20em !important;

}
.botones{
    position: relative;
    left: 20em;
    bottom: 20em;
    width:40em;
    /* background-color:#986; */

}
.precio{
    font-size: 2em;
}
.div-p{
    display: flex !important;
    justify-content: left !important;

}
.button-boton{
    background-color: aquamarine !important;
    border-radius: 1em !important;
    border: 2px solid rgb(0, 0, 0) !important;
}
.button-boton:hover{
    background-color: rgb(82, 232, 182) !important;
    border-radius: .5em !important;
}
.button-boton:active{
    background-color: rgb(52, 209, 156);
    border-radius: .3em;
}
.button-boton-eliminar{
    border-radius: 3em;
    background-color:#EAC0EA;
    border: 0px solid rgb(0, 0, 0);
    width: 16em; 
    height: 3.4em;
    position: relative;
    top: 4em;
    
}

.button-boton-eliminar:hover{
    border-radius: 1.5em ;
    background-color:#eca4ec;
    border: 1px solid rgb(255, 160, 160);
        
}

.button-boton-eliminar:active{
    border-radius: 1em !important;
    background-color:#dd74dd;
    border: 1px solid rgb(241, 119, 119);
        
}
section{
    position: relative;
    top: 1em;
}
.p-jugo{
    font-size:3em;
    position:relative;
    top:1em;
}


.footer{
    margin-top: 18em;
    background-color: #EAD9E9 !important;
}

.total-card{
    height: 4em;
    /* display:flex; */
}
.div-complar{
    justify-content: right;
   display: flex;
   position: relative;
   bottom: 3.2em;
}
.buscar{
    border-radius: 3em;
    margin-left: 5em;
}


.cantidad{
    width: 2em !important;
}
label{
    margin: 1em !important;
}