




.p-descri{

    font-size: 2em;

}
.div-botones{
    
    display: flex;
    justify-content:right ;
}
.div-boto{
    display: flex;
    justify-content: right;
}

select{
    border-radius: .2em;
}

label{
    font-size: 1.5em;
}
.bbb{
    margin: 1em;
    display: flex;
}
.gteneral{
    border-radius: .5em;
    text-shadow: 3px 3px 3px #00000088;
    background-color: rgba(245, 244, 160, 0.062);
    border: 1px solid #000;
}
.seletor{
    border-radius: .5em;
    text-shadow: 3px 3px 3px #00000088;
    background-color: rgba(245, 244, 160, 0.062);
    border: 1.5px solid #000 ;
    margin: 0%;
    padding: 0%;
  
}
.pago{
    text-align: center;
    font-size: 1.2em;
}
.pagoSeletor{
    display: grid;
    justify-content: center;
width: 10em;
position: relative;
left: 22em;
bottom: 8em;
}
.cotenidoEdit{
    display: flex;
    justify-content: center;
    /* background-color: #000; */
    width: 100%;
    height: 15em;
    position: relative;
    bottom:8em;
}
.editar{
    width: 50%;
    height: 20em;
    background-color: #a6cc9136;
    border: 2px solid #000;
    margin-right: .5em;
}
.editados{
    width: 50%;
    height: 20em;
    background-color: #a6cc9136;

    border: 2px solid #000;

    margin-left: .5em;

}
.cantidad{
    width: 2em;
    height: 1.5em;
}

.edi{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin-top: .5em;
    position: relative;
}

.edi2{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin-top: .5em;
    position: relative;
    top: 3em;

}

.modallll{
    height: 32em;
}

samp{
    color: #ff0000;
}



input[type="search"]{
    width: 50px; /*ancho por defecto*/
    background: #ededed url('../IMG/luma.png') no-repeat 0px center; /*icono lupa*/
    background-size: 2em;
    background-color: #ebe96c9c;
    padding: 9px 10px 9px 32px;
    border-radius: 15em;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
    position: relative;
    /* left: 3em; */
    margin: 0em;
}
input[type="search"]:focus{
    width: 200px; /*tamaño del boton buscar al hacer click*/
    padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
    color: #000;
    background-color: #FFF;
}


.mas{
    position: relative !important;
    bottom: 4.5em !important;
    left: 25em !important;
    z-index: 5 !important;
}
.mass{
    display: flex;
}
.Crearr{
    margin-left: 70%;
    position: absolute;
}
.formButton{
    display: flex;
}

.page-wrapper{
    position: relative;
    bottom: 5em;
}
.container-fluid{
    position: relative;
    bottom: -4em;
}

.button{
    border: 0ch solid rgba(255, 255, 255, 0);
}